body {

}

.background-image {
    background-image: url('../../../assets/city.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30.0em;
}

.background-shadow {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 700px;
    height: 300px;
}

.title-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: white;
}

.regular-text {
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    color: white;
}

.bold-text {
    font-size: 20px;
    font-weight: bold;
}

.container {
    text-align: center;
}

.container>h3 {
    margin: 40px;
}
.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border-color: lightgray;
    margin-bottom: 40px;
}

.card.border-secondary.mb-3 {
    cursor: pointer;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 92%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: #07d;
    animation: spinner .6s linear infinite;
}