<div class="background-image">
    <div class="background-shadow">
        <P class="title-text">Сервіс громадських петицій</P>
        <p class="regular-text">Прийми участь у покращенні життя міста</p>
        <!--<button type="button" class="btn btn-primary" *ngIf="!isAuthorized" [routerLink]="['/create-petition']">
        <span class="bold-text">+ Створити петицію</span>
    </button>-->
        <button *ngIf="isAuthorized" type="button" class="btn btn-primary" (click)="addPetition()">
            <span class="bold-text">+ Створити петицію</span>
        </button>
        <button *ngIf="!isAuthorized" type="button" class="btn btn-primary" (click)="openModal(template)">
            <span class="bold-text">+ Створити петицію</span>
        </button>
    </div>
</div>
<div class="container">
    <h3>По категоріям</h3>
    <div class="categories">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/transport.jpg" alt="Transport" />
            <div class="card-body">
                <h4 class="card-text">Транспорт та дороги</h4>
                <button type="button" class="btn btn-light">
                    петицій <span class="badge badge-primary">9</span>
                </button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/health.jpg" alt="Medicine" />
            <div class="card-body">
                <h4 class="card-text">Охорона здоров'я</h4>
                <button type="button" class="btn btn-light">
                    петицій <span class="badge badge-primary">11</span>
                </button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/industry.jpg" alt="Industry" />
            <div class="card-body">
                <h4 class="card-text">Промисловість</h4>
                <button type="button" class="btn btn-light">
                    петицій <span class="badge badge-primary">2</span>
                </button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/study.jpg" alt="Study" />
            <div class="card-body">
                <h4 class="card-text">Освіта</h4>
                <button type="button" class="btn btn-light">
                    петицій <span class="badge badge-primary">5</span>
                </button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/police.jpg" alt="Study" />
            <div class="card-body">
                <h4 class="card-text">Правопорядок</h4>
                <button type="button" class="btn btn-light">
                    петицій <span class="badge badge-primary">3</span>
                </button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/economic.jpg" alt="Study" />
            <div class="card-body">
                <h4 class="card-text">Економіка та фінанси</h4>
                <button type="button" class="btn btn-light">
                    петицій <span class="badge badge-primary">3</span>
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-body text-center">
        <br />
        <h6>Увійдіть під своїм логіном, будь-ласка!</h6>
        <br />
        <button type="button" class="btn btn-primary" (click)="confirm()">Авторизація</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Ні, дякую!</button>
        <br />
    </div>
</ng-template>