@{
    ViewData["Title"] = "Підтвердження зміни паролю";
}


<div class="row">
    <br />
    <br />
    <br />
    <div class="col-md-4 glass">
        <section>
            <h2>@ViewData["Title"]</h2>
            <p>Будь-ласка, перевірте ваш email для зміни паролю.</p>
        </section>
    </div>
</div>
