<div class="container">
    <div class="table-wrapper">
        
        <div class="table-filter">
            <div class="row">
                <div class="col-sm-3">
                    <div class="show-entries">
                        <span>Показати</span>
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn btn-default dropdown-toggle" name="selectItemsPerPage">
                                {{itemsPerPage}}
                            </button>
                            <div>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li *ngFor="let value of itemsPerPageList" role="menuitem">
                                        <a class="dropdown-item" (click)="setItemsPerPage(value)">{{value}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <span>петицій</span>
                    </div>
                </div>
                <div class="col-sm-9">                    
                    <div class="filter-group">
                        <label>Пошук</label>
                        <input type="text" class="form-control" [(ngModel)]="searchQuery">
                        <a class="view" title="Пошук" data-toggle="tooltip" (click)="search()"><fa-icon [icon]="faSearch"></fa-icon></a>
                    </div>
                    <div class="filter-group">
                        <label>Статус</label>
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn btn-default dropdown-toggle" name="status">
                                {{sStatus}}
                            </button>
                            <div>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li role="menuitem">
                                        <a class="dropdown-item" (click)="selectStatus('Всі')">Всі</a>
                                    </li>
                                    <li class="divider dropdown-divider"></li>
                                    <li *ngFor="let status of statuses" role="menuitem">
                                        <a class="dropdown-item" (click)="selectStatus(status)">{{status}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="filter-group">
                        <label>Категорія</label>
                        <div class="btn-group" dropdown>
                            <button dropdownToggle type="button" class="btn btn-default dropdown-toggle" name="category">
                                {{sCategory}}
                            </button>
                            <div *ngIf="categories.length">
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li role="menuitem">
                                        <a class="dropdown-item" (click)="selectCatagory('Всі')">Всі</a>
                                    </li>
                                    <li class="divider dropdown-divider"></li>
                                    <li *ngFor="let category of categories" role="menuitem">
                                        <a class="dropdown-item" (click)="selectCatagory(category.name)">{{category.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Назва петиції</th>
                    <th>Категорія</th>
                    <th>Автор</th>
                    <th>Зареєстрована</th>
                    <th>Статус</th>
                    <th>Підтримано</th>
                    <th>Деталі</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let petition of shownPetitions; index as i">
                    <td>{{i+1}}</td>
                    <td>{{petition.name}}</td>
                    <td>{{petition.category.name}}</td>
                    <td>{{petition.user.lastName}} {{petition.user.firstName[0]}}.{{petition.user.middleName[0]}}.</td>
                    <td><span class="font-size-sm">{{petition.created |  date:'yyyy-MM-dd'}}</span></td>
                    <td><span [ngStyle]="{'color':getColor(petition.status)}">&#11044;&nbsp;&nbsp;</span>{{getName(petition.status)}}</td>
                    <td><span class="font-size-sm">{{petition.voters.length}}/{{votesCount}}</span></td>
                    <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><fa-icon [icon]="faArrowAltCircleRight"></fa-icon></a></td>
                </tr>                
            </tbody>
        </table>
        <div class="clearfix">
            <div class="hint-text">Показано <b>{{showedItems}}</b> з <b>{{filteredPetitions.length}}</b> петицій</div>
            <pagination *ngIf="filteredPetitions.length > itemsPerPage" 
                        [(ngModel)]="currentPage"
                        [totalItems]="filteredPetitions.length" 
                        [maxSize]="5" 
                        [itemsPerPage] ="itemsPerPage" 
                        (pageChanged)="pageChanged($event)">
            </pagination>
        </div>
    </div>
</div> 