<div class="header">
    <div class="col-8 centered">
        <h3>
            <a class="nav-link mrg-top" [routerLink]="['/home']">
                <img class="logo" src="../../../assets/petitions-logo.png" />
                Громадські петиції
            </a>
        </h3>
    </div>
    <div class="col-4 centered">
        <ul class="nav justify-content-end">
            <li *ngIf="isAuthorized" class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link menu-btn" [routerLink]="['/admin']">Admin</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link menu-btn" [routerLink]="['/home']">Головна</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link menu-btn" [routerLink]="['/petitions']">Всі петиції</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link menu-btn" *ngIf="!isAuthorized" (click)="login()" [routerLink]="['/login']">Вхід</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link menu-btn" *ngIf="isAuthorized" (click)="logout()" [routerLink]="['#']">Вийти</a>
            </li>
        </ul>
    </div>
</div>